# Core
# Streamlit
streamlit==1.26.0

# NLP / Embeddings
torch==2.1.0
sentence-transformers==2.2.2
transformers==4.41.0

# PDF processing
PyPDF2>=3.0.0,<3.2.0

# Utilities
numpy==1.26.0
regex>=2023.1.0,<2025.0.0
rich==13.3.5

huggingface_hub==0.13.4

# Optional: if you use logging or other standard Python libraries, no need to include them






